<html lang="en">

  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/@picocss/pico@1.*/css/pico.min.css"
    />
    <title>Authentication | {{title}}</title>
  </head>

  <body>
    <main class="container">
      <h1>Hi {{username}}!</h1>
      <p>
        Thank you for signing up. Click on the button below to verify your
        account.
      </p>
      <a href={{url}} role="button">Verify</a>
    </main>
  </body>

</html>